<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.sotosdeveloper.gymmanagementsystemapp_clientversion">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GYMManagementSystemAppClientVersion">

        <activity android:name="com.apps.sotosdeveloper.gymmanagementsystemapp_clientversion.Adapters.UserPreviewActivity"
            android:theme="@style/AppThemeNoColoredStatusBar"/>

        <activity
            android:name="com.apps.sotosdeveloper.gymmanagementsystemapp_clientversion.LoginActivity"
            android:theme="@style/Theme.GYMManagementSystemAppClientVersion.NoActionBar" />

        <activity android:name="com.apps.sotosdeveloper.gymmanagementsystemapp_clientversion.PreviewMessageActivity" />

        <activity android:name="com.apps.sotosdeveloper.gymmanagementsystemapp_clientversion.InitActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.apps.sotosdeveloper.gymmanagementsystemapp_clientversion.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.GYMManagementSystemAppClientVersion.NoActionBar" />
        <activity
            android:name="com.apps.sotosdeveloper.gymmanagementsystemapp_clientversion.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.GYMManagementSystemAppClientVersion" />
    </application>

</manifest>